<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>R-ネイル | 商品編集</title>
  </head>
<body>
  <div class="container-fluid">
    <div class="row he-1">
        <div th:replace="~{fragments/side :: nav}"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 bg-light">
          <div class="container r-w">
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark mt-3">
              <h1 class="h1">R-ネイル</h1><div id="message-container"><span th:if="${message}" th:text="${message}"></span></div>
              <h6 class="">システム日付 : <span id="clock"></span></h6>
            </div>
          </div>
          <div class="container">
			<div class="row mb-3">
	            <div class="col mt-3 mb-3">
	              <h2 class="h2">商品編集</h2>
	            </div>
	            <div class="col mt-3 mb-3 d-flex justify-content-end">
					<form method="POST" th:action="@{/Delete}" th:object="${entity}">
						<input type="hidden" th:value="${shohinCd}" name="shohinCd">
					    <button type="button" id="deleteForm" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash3"></i></button>
				        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				          <div class="modal-dialog">
				            <div class="modal-content">
				              <div class="modal-header">
				                <h1 class="modal-title fs-5" id="staticBackdropLabel">本当に削除しますか？</h1>
				                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				              </div>
				              <div class="modal-body">
								商品コード: <span id="setShohinCd" class="me-2"></span><br>
				                カラー　　:<span id="setColor" class="me-2"></span><br>
				                税抜額　　:<span id="setZeinukiGaku"></span>
							  </div>
				              <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				                <button type="submit" class="btn btn-danger" id="delete">削除</button>
				              </div>
				            </div>
				          </div>
				       </div>
				    </form>
				</div>
			</div>
            <form th:object="${entity}" method="POST" th:action="@{/Update}">
              <div id="formContainer" style="
              width: 35%;
              margin: auto;">
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">商品コード</label>
                    <input type="text" th:field="*{shohinCd}" class="form-control" readonly>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">カラー</label>
                    <input type="text" th:field="*{color}" class="form-control" readonly>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">税抜額</label>
                    <input type="text" class="form-control text-end" th:field="*{zeinukiGaku}" required="true">
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">作成所要時間</label>
                    <input type="text" class="form-control" th:field="*{makeTime}">
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">材料メモ</label>
                    <input type="text" class="form-control" th:field="*{zairyoMemo}">
                  </div>
                </div>
                  
                <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">商品詳細</label>
                  <textarea class="form-control" rows="3" th:field="*{shohinMemo}"></textarea>
                </div>
                <div class="col mb-3">
                  <button type="submit" class="btn btn-primary">更新</button>
                </div>
              </div>
            </form>
          </div>          
        </main>
    </div>
  </div>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script th:inline="javascript">
		$(document).ready(function () {
			var shohinCd = $('#shohinCd').val();
			var color = $('#color').val();
			var zeinukiGaku = $('#zeinukiGaku').val();
			// 商品の削除
			$('#delete').on('click', function(){
				const shohinCd = $('#shohinCd').val();
				$.ajax({
					url: '/Delete',
					type: 'POST',
					data: {shohinCd: shohinCd},
					success: function(data){
						console.log(data);
					},
					error: function(data){
						console.log(data);
					}
				});
			});
			// 削除前の確認
			$('#deleteForm').on('click', function(){
				$('#setShohinCd').text(shohinCd);
				$('#setColor').text(color);
				$('#setZeinukiGaku').text(zeinukiGaku);
			});
			// 数値以外の入力制御および全角数値の制御
            $('#zeinukiGaku').on('input', function() {
               let inputValue = $(this).val().replace(/[^0-9０-９]/g, '');
               inputValue = inputValue.replace(/[０-９]/g, function(s) {
                 return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
               });
               $(this).val(inputValue);
            });
		});

	    function updateClock() {
	        var now = new Date();
	        var formattedTime = now.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
	        document.getElementById('clock').innerText = formattedTime;
	    }
	    updateClock();
	    setInterval(updateClock, 1000);
		var message = $('#message-container');
		if(message.innerText !== ''){
			setTimeout(function () {
				message.empty(); 
				}, 5000);
		}
	</script>
</body>
</html>