<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/itemIndex.js"></script>
    <title>R-ネイル | 商品一覧</title>
</head>
<body>
    <div class="container-fluid">
      <div class="row he-1">
        <div th:replace="~{fragments/side :: nav}"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 bg-light">
          <div class="container r-w">
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark mt-3">
              <h1 class="h1">R-ネイル : 商品一覧</h1><div id="message-container"><span th:if="${message}" th:text="${message}"></span></div>
              <h6>システム日付 : <span id="clock"></span></h6>
            </div>
          </div>
          <div class="container r-w">
            <div class="d-flex mt-3">
            	<div class="col-3 me-3">
                	<label>テーマ</label>
                    <select class="form-select" id="theme">
                      	<option th:each="type : ${themeList}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
                <div class="col-3 me-3">
               		<label>季節</label>
                    <select class="form-select" id="season">
                    </select>
                </div>
                <div class="col-2 d-flex align-items-end">
                    <button type="button" id="searchBtn" class="btn btn-secondary">
                  		<i class="bi bi-search"></i>
                  	</button>                
                </div>
			</div>
        	<div class="d-flex justify-content-between mt-3">
	            <div class="col d-flex align-items-end">
	              <span id="searchCount"></span>
	            </div>
				<div class="mb-3">
					<button type="button" id="ikkatsuDelete" class="btn btn-outline-danger" disabled>一括削除</button>
				</div>
			</div>
            <div>
	            <table class="table table-bordered text-center">
	              <thead>
	                  <tr>
						  <th>選　択</th>
	                      <th>商品CD</th>
	                      <th>テーマ</th>
	                      <th>季　節</th>
	                      <th>税抜額</th>
	                      <th>税　額</th>
	                      <th>税込額</th>
	                      <th>作成時間</th>
	                  </tr>
	              </thead>
	              <tbody id="itemBody">
	              </tbody>
	            </table>
	            
            </div>
            <div id="loading-ring"></div>
		    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body" id="modal">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="reloadButton">OK</button>
						</div>
					</div>
				</div>
			</div>
          </div>
        </main>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script th:inline="javascript">
		$(document).ready(function(){
			var index = 0;
			const searchText = '検索結果 : ';
			const countText = '件';
			$('#theme').change(function(){
				var theme = $(this).val();
				// テーマに紐づく季節
				$.ajax({
					url: '/GetSeasonList',
					type: 'GET',
					data: {
						theme: theme
						},
					success: function(response){
						updateSeasonOptions(response);
					}
				});
			});
			// 季節のセレクトを削除して追加
			function updateSeasonOptions(seasonList){
				if(seasonList.length === 0){
					return;
				}
				var selectBox = $('#season');
				selectBox.empty();
				for(var i = 0; i < seasonList.length; i++){
					var option = $('<option>').val(seasonList[i]).text(seasonList[i]);
					selectBox.append(option);
				}
			}
			// 検索開始
			$('#searchBtn').click(function(){
				var theme = $('#theme').val();
				var season = $('#season').val();
				var searchItemDto = {
					themeType: theme,
					seasonCd: season
				};
				$.ajax({
					url: '/GetShohinList',
					type: 'GET',
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					data: searchItemDto,
					success: function(response){
						updateItemTable(response);
					}
				});
			});
			
			function updateItemTable(shohinList){
				var count = shohinList.length;
				$('#searchCount').text(searchText + count + countText);
				var tbody = $('#itemBody');
				tbody.empty();
				
				for(var i = 0; i < shohinList.length; i++){
					var data = shohinList[i];
					var newRow = $('<tr>');
					var checkCell = $('<td>').html('<input type="checkbox" class="deleteInput">').attr('id', 'check_' + i);
					newRow.append(checkCell);
					var shohinCell = $(`
						<td>
							<a href="/EditItem/${data.shohinCd}">${data.shohinCd}</a>
						</td>
					`);
					newRow.append(shohinCell);
					newRow.append($('<td>').text(data.themeType).attr('id', 'themeType_' + i));
					newRow.append($('<td>').text(data.season).attr('id', 'season_' + i));
					newRow.append($('<td>').text(data.zeinukiGaku.toLocaleString('ja-JP')).attr('id', 'zeinukiGaku_' + i));
					newRow.append($('<td>').text(data.zeiGaku.toLocaleString('ja-JP')).attr('id', 'zeiGaku_' +i));
					newRow.append($('<td>').text(data.zeikomiGaku.toLocaleString('ja-JP')).attr('id', 'zeikomiGaku_' + i));
					newRow.append($('<td>').text(data.makeTime).attr('id', 'makeTime_' +i));
					tbody.append(newRow);
				}
			};
		});
	  
	</script>
</body>
</html>