<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>R-ネイル | 伝票登録</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row he-1">
        <div th:replace="~{fragments/side :: nav}"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 bg-light">
          <div class="container r-w">
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark mt-3">
              <h1 class="h1">R-ネイル</h1>
              <h6 class="">システム日付 : <span id="clock"></span></h6>
            </div>
          </div>
          <form th:object="${denpyoDto}" th:action="@{/Save}" method="post">
            <div class="container">
              <div class="mt-3 mb-3">
                <h2 class="h2">伝票登録</h2>
              </div>
              <div id="formContainer">
                <div class="d-flex row mb-3">
                  <div class="col-sm-3">
                    <label for="formGroupExampleInput" class="form-label">登録日</label>
                    <input type="Date" class="form-control" id="kounyuDate" name=kounyuDate required="true">
                  </div>
                  <div class="col-sm-3">
					<label for="formGroupExampleInput" class="form-label">お客様氏名</label>
					<select class="form-select" th:field="*{customerCd}" required="true">
						<option value="" selected>---</option>
						<option th:each="customer : ${customerList}" 
								th:value="${customer.customerCd}" 
								th:text="${customer.customerSei + customer.customerMei}" />
					</select>
				  </div>
				  
				  <div class="col customerJohoHenshu">
                    <div class="form-check">
                      <input type="checkbox" id="johoHenshu" class="form-check-input" 
                      th:field="*{customerJohoHenshu}" >
                      <label class="form-check-label">お客様情報修正</label>
                    </div>
				  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-sm-2">
                    <label for="formGroupExampleInput" class="form-label">郵便番号</label>
                    <input type="text" class="form-control" th:field="*{yubinNo}" readonly>
                  </div>
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">住所1</label>
                    <input type="text" class="form-control" th:field="*{prefectureCity}" readonly>
                  </div>
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">住所2</label>
                    <input type="text" class="form-control" th:field="*{streetNo}" readonly>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="formGroupExampleInput" class="form-label">氏</label>
                    <input type="text" class="form-control" th:field="*{customerSei}" readonly>
                  </div>
                  <div class="col-sm-3">
                    <label for="formGroupExampleInput" class="form-label">氏(フリガナ)</label>
                    <input type="text" class="form-control" th:field="*{seiFurigana}" readonly>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="formGroupExampleInput" class="form-label">名</label>
                    <input type="text" class="form-control" th:field="*{customerMei}" readonly>
                  </div>
                  <div class="col-sm-3">
                    <label for="formGroupExampleInput" class="form-label">名(フリガナ)</label>
                    <input type="text" class="form-control" th:field="*{meiFurigana}" readonly>
                  </div>
                </div>
                <div id="dynamicElementContainer">
					
						<div class="mt-3">
							<div class="d-flex mt-3 mb-3">
								<div class="col align-items-center d-flex justify-content-between">
								<span class="align-items-center btn btn-primary" id="addForm">商品追加</span>
							</div>
	                  	</div>
	                  	<div class="mb-3" id="addMeisai">
	                    	<div class="d-flex mb-3" id="seikyu_0">
								<div class="col me-3">
									<label>商品CD</label>
									<select id="shohinCd_0" class="form-select" th:field="*{shohinJoho[__${0}__].shohinCd}">
										<option value="" selected>---</option>
										<option th:each="shohinList : ${shohinList}" th:value="${shohinList.shohinCd}" th:text="${shohinList.shohinCd}"></option>
									</select>
		                    	</div>
		                    	<div class="col me-3">
		                        	<label>税抜額</label>
		                        	<input type="text" id="zeinukiGaku_0" th:field="*{shohinJoho[__${0}__].zeinukiGaku}" class="form-control text-end" required="true">
		                    	</div>
		                    	<div class="col me-3">
		                        	<label>税額</label>
		                        	<input type="text" id="zeiGaku_0" th:field="*{shohinJoho[__${0}__].zeiGaku}" class="form-control text-end" required="true">
		                    	</div>
		                    	<div class="col me-3">
		                        	<label>税込額</label>
		                        	<input type="text" id="zeikomiGaku_0" th:field="*{shohinJoho[__${0}__].zeikomiGaku}" class="form-control text-end" required="true">
		                    	</div>
		                    	<div class="d-flex align-items-end">
									<button type="button" id="deleteMeisai_0" class="btn btn-secondary">削除</button>
								</div>
							</div>
	                    </div>
	                    <div id="addMeisai">
                        <div class="mb-3">
						    <span>※商品CDを変更すると自動的に商品情報が入力されます。</span>
                        </div>
               
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">備考<span class="ms-2 anyInput">任意</span></label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{biko}"></textarea>
                </div>
                <div class="col mb-3">
					<button type="submit" class="btn btn-primary">登録</button>
				</div>
              </div>
            </div>
          </form>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script th:inline="javascript">
      $(document).ready(function () {
          var shohinList = /*[[${shohinList}]]*/ [];
          var index = 0;
          
          $('#addForm').on('click', function () {
      	      index++;
              var newForm = $(`
                  <div class="d-flex mb-3" id="seikyu_${index}">
                      <div class="col me-3">
                          <label>商品CD</label>
                          <select class="form-select" id="shohinCd_${index}" name="shohinJoho[${index}].shohinCd">
                              <option value="" selected>---</option>
                          </select>
                      </div>
                      <div class="col me-3">
                          <label>税抜額</label>
                          <input type="text" id="zeinukiGaku_${index}" class="form-control text-end" name="shohinJoho[${index}].zeinukiGaku">
                      </div>
                      <div class="col me-3">
                          <label>税額</label>
                          <input type="text" id="zeiGaku_${index}" class="form-control text-end" name="shohinJoho[${index}].zeiGaku">
                      </div>
                      <div class="col me-3">
                          <label>税込額</label>
                          <input type="text" id="zeikomiGaku_${index}" class="form-control text-end" name="shohinJoho[${index}].zeikomiGaku">
                      </div>
                      <div class="d-flex align-items-end">
						  <button type="button" id="deleteMeisai_${index}" class="btn btn-secondary">削除</button>
					  </div>
                  </div>
              `);
              $('#addMeisai').append(newForm);
              shohinList.forEach(function(shohin) {
                $(`#shohinCd_${index}`).append($('<option>', {
                    value: shohin.shohinCd,
                    text: shohin.shohinCd
                }));
              });
          });
          
        $('#addMeisai').on('click', 'button[id^="deleteMeisai_"]', function(){
			var num = $(this).attr('id').split('_')[1];
			if(num === '0'){
				return;
			}
			index--;
			$('#seikyu_' + num).remove(); 
			$('div[id^="seikyu_"]').each(function() {
				var currentNum = $(this).attr('id').split('_')[1];
				if(currentNum > num){
					var newNum = currentNum - 1;
					$(this).attr('id', 'seikyu_' + newNum);
					$('#shohinCd_' + currentNum).attr('id', 'shohinCd_' + newNum).attr('name', 'shohinJoho[' + newNum +'].shohinCd');
					$('#zeinukiGaku_' + currentNum).attr('id', 'zeinukiGaku_' + newNum).attr('name', 'shohinJoho[' + newNum + '].zeinukiGaku');
					$('#zeiGaku_' + currentNum).attr('id', 'zeiGaku_' + newNum).attr('name', 'shohinJoho[' + newNum + '].zeiGaku');
					$('#zeikomiGaku_' + currentNum).attr('id', 'zeikomiGaku_' + newNum).attr('name', 'shohinJoho[' + newNum + '].zeikomiGaku');
					$('#deleteMeisai_' + currentNum).attr('id', 'deleteMeisai_' + newNum);
				}
			});			
		});
          
         $('#addMeisai').on('change', 'select[id^="shohinCd_"]', function () {
   			var selectedIndex = $(this).attr('id').match(/\d+/)[0];
			var selectedShohinCd = $(this).val();
			$.ajax({
            	url: '/getShohinInfo',
				type: 'GET',
				data: { shohinCd: selectedShohinCd },
				success: function (data) {
					$(`#zeinukiGaku_${selectedIndex}`).val(data.zeinukiGaku || 0);
					$(`#zeiGaku_${selectedIndex}`).val(data.zeiGaku || 0);
					$(`#zeikomiGaku_${selectedIndex}`).val(data.zeikomiGaku || 0);
				},
				error: function () {
                	console.log('エラーが発生しました');
				}
			});
		});

	    $('#addMeisai').on('input', 'input[id^="zeinukiGaku_"]', function () {
	        var selectedIndex = $(this).attr('id').match(/\d+/)[0];
	    });
	    
	    $('#addMeisai').on('input', 'input[id^="zeiGaku_"]', function () {
	        var selectedIndex = $(this).attr('id').match(/\d+/)[0];
	    });
	    
	    $('#addMeisai').on('input', 'input[id^="zeikomiGaku_"]', function () {
	        var selectedIndex = $(this).attr('id').match(/\d+/)[0];
	    });
        
	    $('#johoHenshu').change(function(){
			if ($(this).prop('checked')) {
			
				$('#yubinNo').prop('readonly', false);
				$('#prefectureCity').prop('readonly', false);
				$('#streetNo').prop('readonly', false);
				$('#customerSei').prop('readonly', false);
				$('#customerMei').prop('readonly', false);
				$('#seiFurigana').prop('readonly', false);
				$('#meiFurigana').prop('readonly', false);
				console.log($(this).val());
			} else {
				$('#yubinNo').prop('readonly', true);
				$('#prefectureCity').prop('readonly', true);
				$('#streetNo').prop('readonly', true);
				$('#customerSei').prop('readonly', true);
				$('#customerMei').prop('readonly', true);
				$('#seiFurigana').prop('readonly', true);
				$('#meiFurigana').prop('readonly', true);
				console.log($(this).val());
			}
		});
		
		$('#customerCd').change(function(){
			var customerCd = $(this).val();
			if(customerCd === ''){
				return;
			}
			$.ajax({
				url: '/GetCustomerJoho',
				type: 'GET',
				data: {
					customerCd: customerCd
				},
				success: function(response){
					$('#yubinNo').val(response.yubinNo);
					$('#prefectureCity').val(response.prefectureCity);
					$('#streetNo').val(response.streetNo);
					$('#customerSei').val(response.customerSei);
					$('#customerMei').val(response.customerMei);
					$('#seiFurigana').val(response.seiFurigana);
					$('#meiFurigana').val(response.meiFurigana);
				}
			});
			
		});
	    
      });
	  function updateClock() {
	      var now = new Date();
	      var formattedTime = now.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
	      document.getElementById('clock').innerText = formattedTime;
	  }
	  updateClock();
	  setInterval(updateClock, 1000);
  </script>
  
  </body>
</html>