<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>R-ネイル | 仕入登録</title>
  </head>
<body>
  <div class="container-fluid">
    <div class="row he-1">
        <div th:replace="~{fragments/side :: nav}"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 bg-light">
          <div class="container r-w">
            <div class="d-flex justify-content-between align-items-center border-bottom border-dark mt-3">
              <h1 class="h1">R-ネイル</h1><div id="message-container"><span th:if="${message}" th:text="${message}"></span></div>
              <h6 class="">システム日付 : <span id="clock"></span></h6>
            </div>
          </div>
          <div class="container">
            <div class="mt-3 mb-3">
              <h2 class="h2">仕入登録</h2>
            </div>
            <form th:object="${shiireEntity}" th:action="@{/SaveShiire}" method="POST">
              <div id="formContainer" style="
              width: 35%;
              margin: auto;">
                <div class="mb-3">
					<div class="col">
						<label for="formGroupExampleInput" class="form-label">仕入日</label>
						<input type="Date" class="form-control" name=shiireDate id="shiireDate" required="true">
					</div>
				</div>
                <div class="mb-3">
					<div class="col">
						<label for="formGroupExampleInput" class="form-label">大分類</label>
                        <select th:field="*{daiBunruiName}" class="form-select">
							<option value="">選択してください</option>
							<option th:each="bunrui : ${daiBunruiList}" th:value="${bunrui.bunruiName}" th:text="${bunrui.bunruiName}"/>
						</select>
					</div>
				</div>
               
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">小分類</label>
                    <select th:field="*{shoBunruiName}" class="form-select">
						<option th:each="shoBunrui : ${shoBunruiList}" th:value="${shoBunrui.bunruiName}" th:text="${shoBunrui.bunruiName}"/>
					</select>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">商品名</label>
                    <input type="text" class="form-control" th:field="*{itemName}">
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <label for="formGroupExampleInput" class="form-label">税抜額</label>
                    <input type="text" class="form-control text-end" th:field="*{zeinukiGaku}">
                  </div>
                </div>
                  
                <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">税込額</label>
                  <input type="text" class="form-control text-end"  th:field="*{zeikomiGaku}"></input>
                </div>

                <button type="button" id="registerBtn" class="btn btn-primary col mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  登録
                </button>
				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
						仕入日 : <span id="setShiireDate"></span><br>
				        大分類 : <span id="setDaiBunrui"></span><br>
				        小分類 : <span id="setShoBunrui"></span><br>
				        商品名 : <span id="setItemName"></span><br>
				        税抜額 : <span id="setZeinukiGaku"></span><br>
				        税込額 : <span id="setZeikomiGaku"></span>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary">Understood</button>
				      </div>
				    </div>
				  </div>
				</div>
              </div>
            </form>
          </div>          
        </main>
    </div>
  </div>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script th:inline="javascript">
	    function updateClock() {
	        var now = new Date();
	        var formattedTime = now.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
	        document.getElementById('clock').innerText = formattedTime;
	    }
	    updateClock();
	    setInterval(updateClock, 1000);
	    
		var message = $('#message-container');
		if(message.innerText !== ''){
	          setTimeout(function () {
	              message.empty(); // メッセージをクリア
	          }, 5000);
		}
		
		$(document).ready(function () {
			$('#daiBunruiName').on('change', function(){
				var selectDaiBunruiName = $(this).val();
				
				$.ajax({
					url: '/GetShoBunrui',
					type: 'GET',
					data: {daiBunruiName : selectDaiBunruiName},
					success: function(data){
						updateShoBunruiOptions(data);
					},error: function(){
						
					}
				});
			});
			
			function updateShoBunruiOptions(shoBunruiList) {
				var selectBox = $('#shoBunruiName');
                selectBox.empty();  // Clear existing options

                for (var i = 0; i < shoBunruiList.length; i++) {
					var option = $('<option>').val(shoBunruiList[i].bunruiName).text(shoBunruiList[i].bunruiName);
                    selectBox.append(option);
                }
             }
		
			$('#registerBtn').on('click', function(){
				var shiireData = {
					daiBunruiName: $('#daiBunruiName option:selected').text(),
					shoBunruiName: $('#shoBunruiName option:selected').text(),
					itemName: $('#itemName').val(),
					zeinukiGaku: $('#zeinukiGaku').val(),
					zeikomiGaku: $('#zeikomiGaku').val(),
					shiireDate: $('#shiireDate').val()
				};
				console.log(shiireData);

				//
			//	$.ajax({
				//	url: '/Valid',
				//	type: 'GET',
					//contentType: 'application/json',
					//data: JSON.stringify(shiireData),
					//success: function(response){
						
					//}
				//});
				
				
				$('#setShiireDate').text(shiireData.shiireDate);
				$('#setDaiBunrui').text(daiBunruiName);
				$('#setShoBunrui').text(shoBunruiName);
				$('#setItemName').text(itemName);
				$('#setZeinukiGaku').text(zeinukiGaku);
				$('#setZeikomiGaku').text(zeikomiGaku);
			});
		});
		
	</script>

</body>
</html>